@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular,italic);

@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

[class*="_container"] {
    margin: 0 auto;
    max-width: 1140px;
}

.header_navigation {
    display: flex;
    height: 106px;
}

.header_navigation h2 {
    padding-top: 27px;
    padding-left: 3px;
    font-family: Merriweather;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
}

.header_navigation ul {
    display: flex;
    margin-left: 127px;
    padding: 0 30px 0 30px;
}



.header_list_item {
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 36px 0 36px 36px;
}

.header_button {
    margin: auto;
    padding: 10px 15px 10px 15px;
    color: #ffff;
    background-color: #0E333D;
}

.header_main_title {
    padding-top: 200px;

}

.header_main_title h1 {
    font-family: "DM Serif text";
    font-size: 78px;
    color: #0E333D;
    font-weight: 400;
    padding-bottom: 32px;
}

.header_main_title p {
    font-size: 22px;
    color: #727272;
    font-weight: 400;
    padding-bottom: 48px;
}

.header_main_title button {
    padding: 44px 10px 44px 10px;
    font-size: 28px;
    font-weight: 400;
}

.header_button_shop {
    color: #ffff;
    background-color: #0E333D;
    margin: auto;
    padding: 10px;
}

.header_button_video {
    color: #0E333D;
    background-color: #fff;
    margin-left: 47px;
}